body{
  
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/25.png);
    
}
h1{
    text-align: center;
    color: black;
}
form{
    
    max-width: 250px;
    margin: auto;
    padding: 20px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.288);
    border-radius: 60px;
    margin-top: 220px;
    
color: #ffffff;
box-shadow:inset 5px 5px 50px rgb(65, 65, 65)



}
label{
font-weight: bold;
    color: rgba(0, 0, 0, 0.76);
    display: block;
}
input[type="email"]{
    width: 100%;
    padding: 7px;
    margin-bottom: 12px;
    border-radius: 10px;
    
}
input[type="text"]{
    width: 80%;
    padding: 7px;
    margin-bottom: 12px;
    border-radius: 10px;
    
}
input[type="password"]{
    width: 80%;
    padding: 7px;
    margin-bottom: 12px;
    border-radius: 10px;
    
}



input[name="g" ]{
    padding: 7px;
    margin: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: rgba(6, 113, 212, 0.774);
    color: white;
    width: 100%;
   
  
}

.butao{
    display:flex;
margin-left: 15%;
margin-right: 15%;
max-width: 100%;

    
}
.a:hover{
    background: rgb(4,4,4);
    transition: all 0.2s ease-in;
    transform: scale(1.2);
}


