/*Usado para definir as variáveis em todo o site*/
:root {
    --cor_letra: rgb(0, 0, 0); /*Var: cor da letra principal*/
    --tamanho_letra: 17px; /*Var: tamanho da letra*/
    --cor_transition1: #848586; /*Var: transição dos links do container menu*/
    --fonte: Arial; /*Var da Fonte principal do site*/ 
   }
   
   body{
       padding: 0; /*Margem interna do body em 0*/
       margin: 0; /*Margem externa do body em 0*/
       font-family: var(--fonte); /*Fonte do body*/
   }
   
   .menu{
       position: fixed; /*Usa-se o fixed para indicar que o container menu ficará fixo*/
       display: inline-flex; /*Para os objetos filhos ficarem alinhados em linha horizontal*/
       justify-content: space-between; /* filhos ao longo do eixo principal, de modo que ocupem todo o espaço livre de forma uniforme.*/
       width: 100%; /*Largura em 100% em relação ao body*/
       background-color: #3a3939; /*Cor de fundo do menu*/
       height: 60px; /*Altura do container menu*/
   }
   
   /*Lado direito do Menu*/
   .lado_direito a{
       text-decoration: none; /*Usado para tirar a decoração do link*/
       color: white; 
       font-size: var(--tamanho_letra);
       font-family: var(--fonte);
   }
   
   /*Animação dos links do Menu*/
   a:hover {
       color: var(--cor_transition1);
       background-color: #221f1f57;
       padding: 5px;
       border-radius: 5px; /*Usado para arredondar a borda dos links*/
   }
   

   /*Link principal da página*/
   #navegador{
    font-weight: bold; /*Indica a intencidade da fonte como pesada (negrito)*/
    color: var(--cor_transition1);
   }
   
   
   /*Lado esquerdo do menu com a Logo*/
   .lado_esquerdo img{
       display: flex; /*Para deixar o container flexível e incicá-lo como o container pai*/
       margin-left: 5px;
       padding: 0;
       height: 70px;
       
   }
   
   .lado_direito{
    display: flex;
    align-items: center;
   }

   /*Navegadores do Menu*/
   .lado_direito nav{
       display: inline;
       margin: 9px;
       flex-direction: row; /*Indica a direção em linha dos elementos*/
       justify-content: space-between;
   }
   
   .lado_direito ul{
    padding-right: 45px;
   }
   /*------------------------------------*/
   main{
    display: flex;
    justify-content: center;
   }

   #imagem{
    display: flex;
    width: 100%;
   }

   .principal img{
    height: 280px;
    margin-bottom: 10px;
    margin-top: 40px;
    float: left;
    margin-left: 0px;
   }

   .principal{
    text-align: center;
    width: 100%;
   }

   .principal p{
    margin-bottom: 90px;
    font-size: 20px;
   }

   .container_servicos{
    display: flex;
    justify-content: center;
   }

   .servicos{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    width: 50%;
   }
   /*------------------------------------*/
   footer{
    display: flex;
    background-image: url(../img/Rodape2.png);
    background-size: cover; /*O background será dimensionada para preencher completamente o elemento*/
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    height: 300px;
    bottom: 0;
    margin: 0;
   }

   footer img{
    padding: 0;
    margin: 0;
    height: 90px;
   }

   .rodape{  
    display: flex;
    width: 100%;
    text-align: center;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   }

   .icone_servicos{
    font-size: 30px;
    color: white;
    background-color: #3a3939b7;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
   }

   .icone_servicos:hover{
    background-color: #252525;
   }

