#Cadastro {
    background-color: black;
    font-size: 15px;
    color: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    align-items: center;
    text-align: center;
    margin-top: 400px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;

}
