:root {
    --cor_fundo: black;
    --cor_letra: rgb(0, 0, 0);
    --tamanho_letra: 17px;
    --cor_transition1: #848586;
    --fonte: "Roboto Condensed", sans-serif;
    --cor_objeto: black;
    --background-footer: #0f4a90;
    
   }
   
   body{
       padding: 0;
       margin: 0;
       font-family: var(--fonte);
   }
   
   /*Cabeçalho*/
   .menu{
       position: fixed;
       display: inline-flex;
       justify-content: space-between;
       width: 100%;
       background-color: #3a3939;
       height: 60px;
   }
   
   .lado_direito a{
       text-decoration: none;
       color: white;
       font-size: var(--tamanho_letra);
       font-family: var(--fonte);
   }
   
   a:hover {
       color: var(--cor_transition1);
       background-color: #221f1f57;
       padding: 5px;
       border-radius: 5px;
   }
   
   .navegacao{
       transition: border 2s;
   }

   #navegador{
    font-weight: bold;
    color: var(--cor_transition1);
   }
   
   .lado_esquerdo img{
       display: flex;
       margin-left: 5px;
       padding: 0;
       height: 70px;
       
   }
   
   .lado_direito{
    display: flex;
    align-items: center;
   }

   .lado_direito nav{
       display: inline;
       margin: 9px;
       flex-direction: row;
       justify-content: space-between;
   }
   
   .lado_direito ul{
    padding-right: 45px;
   }

   /*Main*/
   