:root {
    --cor_fundo: black;
    --cor_letra: rgb(0, 0, 0);
    --tamanho_letra: 17px;
    --cor_transition1: #848586;
    --fonte: Arial;
    --cor_objeto: black;
    --background-footer: #0f4a90;
    
   }
  

      /*Header nav*/

   .navegacao {
    display: flex;   
    justify-content: space-around;
    align-items: center;
    font-size: var(--tamanho_letra);
    padding: 10px;
    text-align: center; 
    color: rgb(255, 255, 255);
    
    cursor: pointer;



}

    .navegacao a {
        color: white;
        text-decoration: none;
        transition: color 0.3s;
        margin: 0 auto;
        padding: 10px;

    }


       /*Body*/
   html, body {
        height: 100%;
        overflow-x: hidden;
        background-image: url(../ProjetoSite/imgcerto/backgroundpage.jpg);
        
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }
 header {
    margin-top: auto;
     background-color: var(--cor_fundo);
     height: 60px;
     padding: 0px;
     color: var(--cor_letra);
     font-family: var(--fonte);
    gap: 20px;
    display: flex;
    
 }

 #navegador{
    font-weight: bold;
    color: hsl(214, 100%, 34%);
   
}


 .icone_servicos{
    font-size: 30px;
    color: white;
    background-color: #3a3939b7;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
   }

   .icone_servicos:hover{
    background-color: #252525;
   }


 body{
    padding: 0;
    margin: 0;
    font-family: var(--fonte);
}

 .menu{
       
    position: fixed;
       display: inline-flex;
       justify-content: space-between;
       width: 100%;
       background-color: #3a3939;
       height: 60px;
   }
   
   
   a{
       text-decoration: none;
       color: var(--cor_letra);
       font-size: var(--tamanho_letra);
       font-family: var(--fonte);
   }
   
   a:hover {
       color: var(--cor_transition1);
   }
   

      /*img esquerda*/

   .lado_esquerdo img{
       display: flex;
       margin-left: 5px;
       padding: 0;
       height: 70px;
        
   }
   
      /*nav direita*/
   .lado_direito nav{
    display: inline;
    margin: 9px;
    flex-direction: row;
    justify-content: space-between;

   }

   .lado_direito {
       display: flex;
       align-items: center;
    }
   
   .lado_direito ul{
       padding-right: 45px;
   }
   

   ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

   /*Menu*/
   

   
   #icone{
       font-size: 100px;
       color: var(--cor_objeto);
       margin-bottom: 10px;
   
       transition: color 2s;
   }
   
   #icone:hover{
       color: var(--cor_transition);
       background-color: rgba(39, 39, 39, 0.473);
       padding: 10px;
       border-radius: 50%;
   }
   
   /*titulo*/ 
  .main-title {
     margin-top: 50px;
     font-size: 1.82rem;
     text-align: left;
     color: var(--cor_letra);
     font-family: Arial Narrow, Helvetica, sans-serif;
    color: hsl(214, 100%, 34%);
    padding-left: 150px;
   

}


 
      /*Logo ao lado do titulo*/
  .logo-title img { 
    display: block;
    margin-left: 5px;
    padding: 0;
    margin: 0;
    width: 80px;
    height: 80px;
    margin-top: -115px;
    padding-left: 60px;  
} 


 /*Sub-titulo*/
  .sub-text {
    font-size: 40px;
    text-align: left;
    font-family: Arial Narrow, Helvetica, sans-serif;
    color: hsl(214, 100%, 34%);
    font-weight: bold;
    padding-left: 71px;
    margin-top: 75px;
}

    .container-contato{
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
        padding: 30px;
        margin-bottom: 120px;
    }
   /*Lado direito main*/
    .lado-direitocontato {
    display: flex;
    
    font-family: Arial Narrow, Helvetica, sans-serif;
    color: hsl(0, 0%, 0%);
    font-weight: bold;
    width: 50%;
    justify-content: space-evenly;
    flex-direction: row;
   
}


 .alinhamentodireito {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    
}

/*Lado esquerdo main*/
   .lado-esquerdocontato{
    width: 50%;
    
    font-family: Arial Narrow, Helvetica, sans-serif;
    color: hsl(0, 0%, 0%);
    font-weight: bold;
    font-size: 20px;
    padding: 20px; /* Espaçamento interno do contêiner */
    box-sizing: border-box; /* Inclui o padding e a borda no cálculo da largura */
  
}


.lado-esquerdocontato ul {
    display: block; /* Garante que a lista seja exibida como um bloco vertical */
}


.lado-esquerdocontato ul li {
    text-align: left;
    margin: 5px;
    padding: 5px;
    color: white;  
}

   /* Posição da imagem */
   .img-info {
    display: flex;
    flex-direction: column; /* Faz os ícones ficarem um abaixo do outro */
    align-items: center; /* Centraliza os ícones */
    margin-right: 20px; 
   }
   .img-info img {
    margin-bottom: 15px; /* Espaçamento entre os ícones */
    margin-left: -100px;
    margin-top: -340px;

}

/* Posição do texto */
  
   .info-itens {
    display: flex;
    flex-direction: column; /* Faz os textos ficarem um ao lado do outro */
    padding: 0;
    margin-right: 20px;
    margin-top: -200px;
    margin-left: -620px;
   }

/*footer*/
    footer{
        display: flex;
        background-image: url(./imgcerto/Rodape2.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        width: 100%;
        height: 200px;
        bottom: 0;
        margin: 0;
        margin-top: 30px;
    }
    
       .rodape{  
        display: flex;
        width: 100%;
        text-align: center;
        color: rgb(255, 255, 255);
        justify-content: center;
        flex-direction: column;
        align-items: center;
       }
    
       .icone_servicos{
        font-size: 30px;
        color: white;
        background-color: #3a3939b7;
        border: none;
        padding: 5px;
        margin: 10px;
        
    }
    
       .icone_servicos:hover{
        background-color: #252525;
       }
       .principal img{
        height: 280px;
        margin-bottom:20px;
        margin-top: 30px;
        float: left;
    
       }
    
       .principal{
        text-align: center;
        width: 100%;
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
       }
       #imagem{
    margin:3px;
    padding:30px;
    width: 0%;
    margin-top: -100px;
    
       }

    info-about p{
    font-size: 20px;
    text-align: left;
    font-family: Arial Narrow, Helvetica, sans-serif;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    padding-left: 71px;
    margin-top: 20px;
    

    }

    @media screen and (max-width: 800px) {

        }
