body{
    background-image: url(./img/26.png);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
h1{
    text-align: center;
}

form{
max-width: 250px;
margin: auto;
padding: 40px;
align-items: center;
background-color: rgba(255, 255, 255, 0.288);
border-radius: 60px;
margin-top: 280px;



}
label{
font-weight: bold;
    color: rgb(0, 0, 0);
    display: block;
}
input[type="text"]{
    width: 100%;
    padding: 7px;
    margin-bottom: 12px;
    border-radius: 10px;
    
}
input[type="password"]{
    width: 100%;
    padding: 7px;
    margin-bottom: 12px;
    border-radius: 10px;
    
}

input[name="g" ]{
   
    padding: 7px;
    margin: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: rgba(6, 113, 212, 0.774);
    color: white;
    width: 100%;
   
  
    
}

.butao{
    display: flex;




    
}
.a:hover{
    background: rgb(4,4,4);
            transition: all 0.2s ease-in;
            transform: scale(1.2);
}

a{
    color: blue;
}


