body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 9;
    padding: 0%;
    background-color: hsl(0, 0%, 100%);
 }
 footer {
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    position : relative;
    width: 100%;
    bottom: 0;
    padding: 000.1%;
 }
 td {
    padding: 10px;
    text-align: center;
 }
 
th {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
 
 }
 a {
    color: #ffffff
 }
 
 img {
    width: 400px;
    height: auto;
 }
 
 li {
    margin: 20px;
 }
 
 ul {
    display: flex;
    justify-content: center;
 }
 
 main h1,
 p {
    text-align: justify;
    text-align: center;
 }
 
 table ul {
    display: flex;
    justify-content: center;
    width: 10px;
    border-radius: 100%;
    border: 10px solid rgb(78, 78, 78);
 }
 
 .PA {
    border-radius: 10%;
    border: 10px solid rgb(78, 78, 78);
 }
 
 footer img  {
    width: 200px;
    height: auto;
 }
 th a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
 }
 